# Environment variables
.env

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Django
db.sqlite3
*.log

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# AWS credentials
*.json
